#main{
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}
body,html{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
#inside{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#reg,#log{
    margin: 0 auto;
    margin: 5px;
}
#register_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: none;
    padding: 25px;
 
}
* {
    font-family: 'Oswald', sans-serif;
}
#close_btn{
    float: right;
    cursor: pointer;
}
#login_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    padding: 25px;
    display: none;

}
#login_inside{
    margin: 0 auto;
    text-align: center;

}